.slot {
    margin: 0.5vh;
    border: 1.5vh ridge whitesmoke;
    height: 7vh;
    width: 7vh;
    display: inline-block;
    
}

#hotbar {
    position: absolute;
    width: 100vw;
    text-align: right;
    bottom: 0;
}

#coords {
    position: absolute;
    background-color: rgba(0, 0, 0, 40%);
    padding: 5px;
}

.coord {
    display: inline;
    margin: 5px;
    color: white;
    font-family: sans-serif;
}

#title {
    position: absolute;
    width: 100%;
    text-align: center;
}

#desc {
    position: absolute;
    top: 40px;
    width: 100%;
    text-align: center;
}